* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-image: url("img1.jpg");
  background-size: 1920px 1080px;
  color: whitesmoke;
}
.register{
  max-width:60%;
  border: 1px solid rgb(32, 79, 117);
  padding: 30px;
  border-radius: 5px;
  background-color: #4A5E77;
  
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.btn {
  display: inline-block;
  background: rgb(9, 8, 54);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  
}
.btn:hover {
  background-color:#3e80be;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.topnav {
  background-color: #4A5E77;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3a63ad;
  color: white;
}